NODE_ENV=development
HOST=127.0.0.1
PORT=4173
BACSHOP_PUBLIC_ORIGIN=http://127.0.0.1:4173
BACSHOP_COOKIE_SECURE=false
BACSHOP_TRUSTED_PROXY_IPS=
BACSHOP_DATA_DIR=
BACSHOP_PRODUCTS_FILE=
BACSHOP_UPLOADS_DIR=
BACSHOP_ADMIN_SETUP_CODE=
MIDTRANS_SERVER_KEY=
MIDTRANS_MERCHANT_ID=
MIDTRANS_IS_PRODUCTION=false
